<h2><%= @user.name %>'s dashboard</h2>

<% @events.each do |event| %>
	<div class="dash-review">
		<h2><%= link_to event.title, event_path(event.id) %></h2>
		<p><%= link_to event.user.name, user_path(event.user_id) %></p>
	</div>
<% end %>
